data/curve_data/st2e20.txt
torsion_data_in/
torsion_data_out/
again_torsion_data_out/
big_final_output/
big_output/
output/*
!output/results_lmfdb.csv
log_files/
data/__pycache__
data/curve_data/__pycache__
helper_scripts/__pycache__
.vscode
diff.txt
new_torsion_results.csv
old_torsion_results.csv